@{
  Layout = "_Layout";
}
<div class="container">
  <h1 class="jumbotron">The Library</h1>
  <hr />

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("View Authors", "Index", "Authors")</p>
<p>@Html.ActionLink("View Books", "Index", "Books")</p>
<p>@Html.ActionLink("View Checkouts", "Index", "Checkouts")</p>
<p>@Html.ActionLink("View Libraries", "Index", "Libraries")</p>
<p>@Html.ActionLink("View Patrons", "Index", "Patrons")</p>
</div>
