@{
  Layout = "_Layout";
}

@model Library.Models.Author

<div class="container">
  <h2>Author Details</h2>
  <hr />
  <h4>@Html.DisplayFor(model => model.Name)</h4><br>
  <h4>First Name:@Html.DisplayFor(model => model.FirstName)</h4><br>
  <h4>Middle Inital: @Html.DisplayFor(model => model.MidIn)</h4><br>
  <h4>Last Name: @Html.DisplayFor(model => model.LastName)</h4><br>

  @if (@Model.AuthorBooks.Count == 0)
  {
    <h4>There are no books attributed to this author.</h4>
  }
  else 
  {
    <h4>Written Works:</h4>
    <ul class="no-bullets">
      @foreach (var join in Model.AuthorBooks)
      {
          <li>@join.Book.Title</li>
          @using (Html.BeginForm("DeleteBook", "Authors"))
          {
            @Html.Hidden("joinId", @join.AuthorBookId)
            <input type="submit" value="Delete" />
          }
      }
    </ul>
  }

  @Html.ActionLink("Edit Author Details", "Edit", new { id = Model.AuthorId})
  @Html.ActionLink("Remove Author", "Delete", new { id = Model.AuthorId})

</div>