@{
  Layout = "_Layout";
}
del Library.Models.Author

<h4>Add a new Author</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

  @Html.LabelFor(model => model.MidIn)
  @Html.TextBoxFor(model => model.MidIn)

  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)

  <input type="submit" value="Edit" />
}